<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height:  75px;">
  <img src="/assets/img/zoologico.png" class="logo"><a class="navbar-brand" href="#">Zoologico</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/animelesView">Animales</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/showsView">Shows<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">



    </form>
  </div>
</nav>

<li *ngFor="let item of items">
  <div class="container">
    <div class="row">
      <div class="card" style="width: 18rem;" *ngFor="let item of informacion">
        <div class="card-img-top">
          <img class="d-block w-100" src="https://source.unsplash.com/1600x900/?{{item.nombreCientifico}},Animal">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{item.nombreCientifico}}</h5>
          <p class="card-text">Cantidad en habitad {{item.cantidadTotal}}</p>
          <p class="card-text">rating {{item.rating}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</li>