<li *ngFor="let item of items">
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;" *ngFor="let item of informacion">
                <div class="card-img-top">
                    <img class="d-block w-100" src="https://source.unsplash.com/1600x900/?Lion,Animal">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.nombreCientifico}}</h5>
                    <p class="card-text">Cantidad en habitad {{item.cantidadTotal}}</p>
                    <p class="card-text">rating {{item.rating}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</li>