<table class="table" style="width: 100%; align-content: center; align-items: center; text-align: center;" id="tabla">
  <thead>
    <tr>
      <th scope="col" >#</th>
      <th scope="col">Tipo</th>
      <th scope="col">Botones</th>
    </tr>
  </thead>
  <tr *ngFor="let item of informacion">
   <th>{{item.id}}</th>
    <th>{{item.especie}}</th>
  <th><button id="{{item.id}}" (click)="eliminar(item.id)" class="btn btn-danger" style="width: 40%">Eliminar</button>
    <button  style="width: 10%;visibility: hidden;" disabled></button>
  <button id="{{item.id}}" (click)="eliminar(item.id)" class="btn btn-warning" style="width: 40%">Actualizar</button></th>
    </tr>
    </table>  