.imagencarrusel{
    width: 120%;
    height: 500px;
}
.informacioncarrousel{
background-color: black; opacity: 1;}

.logo{
    height: 3%;
    width: 3%;
    margin: 0 0 0 1%
}
/*PEN STYLES*/

