<div style="margin-top: 5%;">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
    style="text-align: center; align-items: center; align-content: center; margin: 3% 0% 3% 3%">Crear Especie
  </button>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog"
    style="text-align: center; align-items: center; align-content: center;">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Crear Especie</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="email">Id:</label>
              <input [(ngModel)]="idCrear" type="number" class="form-control" id="Id" name="crearid" disabled>
            </div>
            <div class="form-group">
              <label for="pwd">Cantidad en Habitad:</label>
              <input [(ngModel)]="cantidadHabitad" type="number" class="form-control" name="crearTipoAnimal"
                id="TipoAnimal">
            </div>
            <div class="form-group">
              <label for="pwd">cantidadTotalAnimal:</label>
              <input [(ngModel)]="CantidadTotalAnimalCrear" type="number" class="form-control" name="crearCantidad"
                id="cantidadToalAnimal">
            </div>
            <div class="form-group">
              <label for="pwd">HorarioAlimentacion:</label>
              <select [(ngModel)]="HorarioAlimentacionCrear" id="HorarioAlimentacion" name="horarioAlimentacionCrearf"
                class="browser-default custom-select">
                <option *ngFor="let item of horarioAlimentacion" value="{{item.id}}"><p>Horario de la Comida: {{item.horaComida}}</p><p>Horario del Desayuno: {{item.horaDesayuno}}
                </option>
              </select>
              <div class="form-group">
                <label for="pwd">Espacios:</label>
                <select [(ngModel)]="espacioCrear" name="espacioCrearf" id="Espacio"
                  class="browser-default custom-select">
                  <option *ngFor="let item of espacios" value="{{item.id}}">{{item.nombreEspacio}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="pwd">Tipo Animal:</label>
                <select [(ngModel)]="tipoAnimalformu" name="tipoAnimalformusd" id="tipoAnimalformuid"
                  class="browser-default custom-select">
                  <option *ngFor="let item of TipoAnimalCrear" value="{{item.id}}">{{item.descripcion}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="pwd">Empleado:</label>
                <select [(ngModel)]="empleadoCrear" name="empleadoCrearf" id="Empleado"
                  class="browser-default custom-select">
                  <option *ngFor="let item of empleado" value="{{item.id}}">{{item.nombreEmpleado}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="pwd">NombreCientifico:</label>
                <input [(ngModel)]="NombreCientificoCrear" type="text" class="form-control" name="crearNombreCientifico"
                  id="NombreCientifico">
              </div>
            </div>
            <button type="button" class="btn btn-success" (click)="crear()">Crear</button>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div id="actualizar" class="modal fade" role="dialog"
    style="text-align: center; align-items: center; align-content: center;">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Actualizar Animal</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="email">Id:</label>
              <input [(ngModel)]="idCrear" type="number" class="form-control" id="Idaasas" name="actualizarid" disabled>
            </div>
            <div class="form-group">
              <label for="pwd">TipoAnimal:</label>
              <input [(ngModel)]="TipoAnimalCrear" type="text" class="form-control" name="actualizarTipoAnimal"
                id="TipoAnimal">
            </div>
            <div class="form-group">
              <label for="pwd">cantidadAnimal:</label>
              <input [(ngModel)]="CantidadAnimalCrear" type="number" class="form-control" name="actualizarCantidad"
                id="cantidadAnimal">
            </div>
            <div class="form-group">
              <label for="pwd">cantidadTotalAnimal:</label>
              <input [(ngModel)]="CantidadTotalAnimalCrear" type="number" class="form-control" name="actualizarCantidad"
                id="cantidadToalAnimal">
            </div>
            <div class="form-group">
              <label for="pwd">HorarioAlimentacion:</label>
              <select [(ngModel)]="HorarioAlimentacionCrear" id="HorarioAlimentacionID"
                name="horarioAlimentacionActualizarf" class="browser-default custom-select">
                <option *ngFor="let item of horarioAlimentacion" value="{{item.id}}">{{item.horarioAlimentacion}}
                </option>
              </select>
              <div class="form-group">
                <label for="pwd">Espacios:</label>
                <select [(ngModel)]="espacioCrear" name="espacioActualizarf" id="Espacio"
                  class="browser-default custom-select">
                  <option *ngFor="let item of Espacio" value="{{item.id}}">{{item.Espacio}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="pwd">Rating:</label>
                <select [(ngModel)]="ratingCrear" name="ratingActualizarf" id="Rating"
                  class="browser-default custom-select">
                  <option *ngFor="let item of rating" value="{{item.id}}">{{item.rating}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="pwd">Empleado:</label>
                <select [(ngModel)]="empleadoCrear" name="empleadoActualizarf" id="Empleado"
                  class="browser-default custom-select">
                  <option *ngFor="let item of empleado" value="{{item.id}}">{{item.empleado}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="pwd">NombreCientifico:</label>
                <input [(ngModel)]="NombreCientificoCrear" type="text" class="form-control"
                  name="nombreCientificoActualizarf" id="NombreCientifico">
              </div>
            </div>
            <button type="button" class="btn btn-success" (click)="actualizar()">Actualizar</button>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tablex">
      <table class="table" style="width: 100%; align-content: center; align-items: center; text-align: center;"
        id="tabla">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">animal</th>
            <th scope="col">cantidad Animal en habitad</th>
            <th scope="col">CantidadTotal</th>
            <th scope="col">HorarioAlimentacion</th>
            <th scope="col">Espacio</th>
            <th scope="col">Empleado</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tr *ngFor="let item of informacion">
          <th style="color: white">{{item.animalID}}</th>
          <th>{{item.nombreCientifico}}</th>
          <th>{{item.cantidadHabitad}}</th>
          <th>{{item.cantidadTotal}}</th>
         
          <th>
          <div *ngFor="let item3 of horarioAlimentacion">
              <th  *ngIf="item3.id==item.horarioAlimentacionID"><p>Horario de la Comida: {{item3.horaComida}}</p><p>Horario del Desayuno: {{item3.horaDesayuno}}</p></th>
              </div>
          </th>
          <th>
          <div *ngFor="let item2 of espacios">
              <th  *ngIf="item2.id==item.espaciosID">{{item2.nombreEspacio}}</th>
              </div>
          </th>
          <th>
          <div *ngFor="let item5 of empleado">
              <th  *ngIf="item5.id==item.empleadoEntityID">{{item5.nombreEmpleado}}</th>
              </div>
          </th>
          <th><button id="{{item.animalID}}" (click)="eliminar(item.animalID)" class="btn btn-danger"
              style="width: 40%">Eliminar</button>
            <button style="width: 10%;visibility: hidden;" disabled></button>
            <button type="button" (click)="actualizarFormulario(item.id)" class="btn btn-warning" data-toggle="modal"
              data-target="#actualizar"
              style="text-align: center; align-items: center; align-content: center;width: 40%;">Actualizar
              TipoAnimal</button></th>
        </tr>
      </table>
    </div>

</div>