<div id="sidbordo" *ngIf="usuraui()==1">
<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png"/>
        </div>
        Creative Tim
    </a>
</div>
<div class="sidebar-wrapper" *ngIf="usuraui()==1">
 
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a  class="nav-link" [routerLink]="[menuItem.path]">
                <div >
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p></div></a>
        </li>
    </ul>
    <ul style="text-align: center;">
        <button class="btn btn-outline-danger" style="position: absolute; bottom: 0px; left: 7px; width: 95%;">Salir</button>
    </ul>
</div>

</div>
