<div class="container" style="margin-top: 5%">


  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
    style="text-align: center; align-items: center; align-content: center; margin: 3% 0% 3% 3%">Crear
    Espacio</button>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog"
    style="text-align: center; align-items: center; align-content: center;">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="createFormulario">
        <div class="modal-header">
          <h4 class="modal-title">Crear Espacio</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="email">Id:</label>
              <input [(ngModel)]="idCrear" type="number" class="form-control" id="Id" name="idcrearf" disabled>
            </div>
            <div class="form-group">
              <label for="pwd">NombreEspacio:</label>
              <input [(ngModel)]="nombreEspacioCrear" name="nombreEspacioCrearf" type="text" class="form-control"
                id="NombreEspacio">
            </div>
            <div class="form-group">
              <label for="email"> Ubicacion:</label>
              <input [(ngModel)]="ubicacionCrear" type="text" class="form-control" id="Ubicacion" name="ubicacioncrearf">
            </div>
            

            <div class="form-group">
              <label for="pwd">TipoEspacio:</label>
              <select [(ngModel)]="tipoEspacioCrear" id="tipoEspacio" name="especieCrearf"
                class="browser-default custom-select">
                <option *ngFor="let item of tipoespaciolist" value="{{item.id}}">{{item.nombreEspacio}}</option>
              </select>
            </div>
            <button type="button" class="btn btn-success" (click)="crear()">Crear</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>
  <div id="actualizar" class="modal fade" role="dialog"
    style="text-align: center; align-items: center; align-content: center;">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Actualizar Espacio</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="email">Id:</label>
              <input [(ngModel)]="idCrear" type="number" class="form-control" id="Id" name="idActualizarf" disabled>
            </div>
            <div class="form-group">
              <label for="pwd">NombreEspacio:</label>
              <input [(ngModel)]="nombreEspacioActualizar" name="nombreEspacioCrearf" type="text" class="form-control"
                id="NombreEspacio">
            </div>
            <div class="form-group">
              <label for="email"> Ubicacion:</label>
              <input [(ngModel)]="ubicacionActualizar" type="text" class="form-control" id="Ubicacion" name="ubicacionActualizarf">
            </div>
            <div class="form-group">
              <label for="pwd">Disponibilidad:</label>
              <input [(ngModel)]="descripcionActualizar" name="descripcionActualizarf" type="text" class="form-control"
                id="Descripcion">
            </div>

            <div class="form-group">
              <label for="pwd">TipoEspacio:</label>
              <select [(ngModel)]="tipoEspacioActualizar" id="tipoEspacio" name="especieCrearf"
                class="browser-default custom-select">
                <option *ngFor="let item of especie" value="{{item.id}}">{{item.especie}}</option>
              </select>
            </div>


            <button type="button" class="btn btn-warning" (click)="actualizar()">Actualizar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>
  <div id="tablex">
    <table class="table" style="width: 100%; align-content: center; align-items: center; text-align: center;"
      id="tabla">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">NombreEspacio</th>
          <th scope="col">Ubicacion</th>
          
          <th scope="col">TipoEspacio</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tr *ngFor="let item of informacion">
        <th>{{item.id}}</th>
        <th>{{item.nombreEspacio}}</th>
        <th>{{item.ubicacion}}</th>
        <th>
          <div *ngFor="let item3 of tipoespaciolist">
            <th *ngIf="item3.id==item.tipoEspacioID">{{item3.nombreEspacio}}</th>
          </div>
        </th>
        <th><button id="{{item.id}}" (click)="eliminar(item.id)" class="btn btn-danger"
            style="width: 40%">Eliminar</button>
          <button style="width: 10%;visibility: hidden;" disabled></button>
          <button type="button" (click)="actualizarFormulario(item.id)" class="btn btn-warning" data-toggle="modal"
            data-target="#actualizar"
            style="text-align: center; align-items: center; align-content: center;width: 40%;">Actualizar
            Espacio</button>
      </tr>
    </table>
  </div>
</div>