<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="/assets/img/zoologico.png">
    <div class="logo">
      <img src="/assets/img/zoologico.png" style="width: 50%;">
      <div class="logo-img">

      </div>


    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
          <a class="nav-link" [routerLink]="[menuItem.path]">
            <div>
              <i class="material-icons">{{menuItem.icon}}</i>
              <p>{{menuItem.title}}</p>
            </div>
          </a>
        </li>

      </ul>
      <ul style="text-align: center;">
        <button class="btn btn-outline-danger" style="position: absolute; bottom: 100px; left: 7px; width: 95%;">Salir</button>
    </ul>
    </div>

    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
  </div>